<div id="footer">
	<p>免责声明：一起搜所刊载的所有信息、资料及图片均来自互联网，本网站不声明或保证其内容之正确性或可靠性。</p>
    <p class="t_line">
		<a href="http://www.yiqisoo.com/aboutus.html?anl=shy_aboutus" target="_blank">关于我们</a>&nbsp;&nbsp;&nbsp; 
		<a href="http://www.yiqisoo.com/mianzeshengming.html?anl=shy_shengming" target="_blank">免责声明</a>&nbsp;&nbsp;&nbsp; 
		<a href="http://www.yiqisoo.com/zhaopin.html?anl=shy_zhaopin" target="_blank">招聘信息</a>&nbsp;&nbsp;&nbsp; 
		<a href="http://www.yiqisoo.com/index.php?action=shop&anl=shy_map" target="_blank">网站地图</a>&nbsp;&nbsp;&nbsp; 
		<a onclick="addBookmark();" href="javascript:void(1);">加入收藏夹</a>&nbsp;&nbsp;&nbsp; 
		<a onclick="SetHome(this);" href="javascript:void(1);">设为首页</a>&nbsp;&nbsp;&nbsp; 
		<br>
		2012 <span class="en"><a style="color:#9D9D9D" href="http://www.yiqisoo.com/zhishichanquan.html" target="_blank">&copy;</a></span> 一起搜 京ICP备12023412号-1
	</p>
</div>
<script type="text/javascript" language="javascript">
	$("#tiaozhuanbutton").click(function(){
		var page=$("#tiaopage").val();
		if(!${JQUERY}trim(page)) return false;
		url = window.location.href;
		if(url.indexOf('?')<0){
			url+='?';	
		}
		url = url.replace(/&page[^&]*/,'');
		url = url.replace(/#tabbar/,'');
		url += "&page="+page+"&anl=lb_page_"+page+"#tabbar";
		//alert(url);
		window.location.href = url;	
	});

	$("a.guangyiguang").click(function(){
		var dataid=$(this).attr('dataid');
		var classid=$(this).attr('classid');
		var location=$(this).attr('location');
		tongji(location);
		${JQUERY}ajax({
		   type: "POST",
		   url: "http://www.yiqisoo.com/index.php?action=guang&type=life&t=guang",
		   data: "dataid="+dataid+"&classid="+classid+"&location="+location,
		   success: function(msg){	
		  		//alert(msg);	
				//window.open(url,"_self");/*ie6下被阻止*/
		   }
		});	
	});
	function tongji(type){
		str='';
		switch(type){
			case 'cuxiao':
				str = '促销';
				break;
			case 'f_list':
				str = '促销活动';
				break;
			case 'guang':
				str = '逛逛';
				break;
			case 'jian':
				str = '推荐';
				break;
			case 'detail':
				str = '详情页';
				break;
			case 'list':
				str = '3c列表';
				break;
			case 'rent':
				str = '租房';
				break;
			case 'esf':
				str = '二手房';
				break;
			case 'title':
				str = '3c';
				break;
			default:
				str = '';
				break;
		}
		if(str != ''){
			s = '/tracelog.htm?act-yqs=tods&aid-yqs='.type;
			dcsMultiTrack(DCS.dcsuri,s,'WY.ti',str);
		}
	}
	function check_event(event){   
	  var code = event.keyCode;   
	  if(code==13){    
		 $("#tiaozhuanbutton").click();
	  }   
	} 
</script>
<script>
	var d_url=document.location.href;	
	//alert(d_url);
	var patt = new RegExp('utm_campaign');
	if(patt.test(d_url)) {
		var pattern = /utm_campaign=[^&]*/;
		strs = d_url.match(pattern);
		var patt2 = new RegExp('javascript');
		var patt3 = new RegExp('utm_campaign');
		var patt4 = new RegExp('/overview');
		var patt5 = /#shangjia_\d*/;
		$('a').each(function() {
			if(!patt2.test(this.href) && !patt3.test(this.href)){
				var lastw = this.href.substr(-1);
				if(lastw=='/') {
					this.href = this.href+'?'+strs;
				} else if(lastw==''){
					this.href ='';
				}else{
					this.href = this.href+'&'+strs;
				}
				if(patt5.test(this.href)){
					str2 = this.href.match(patt5);
					this.href = this.href.replace(/#shangjia_\d*/g,'');
					this.href = this.href+str2;
				}
			}
		});
	}
</script>

<script type='text/javascript'>
	document.write("<script src=\'http://img01.yiqisooimg.com/yiqisoo/dandelion/js/yiqisoo_4d3u_tag.js\'");
	document.write(" type='text\/javascript'><\/script>");
	
	
	document.write("<script type='text\/javascript'>");
	document.write("var _gaq = _gaq || [];");
	document.write("_gaq.push(['_setAccount', 'UA-21465425-1']);");
	document.write("_gaq.push(['_setDomainName', '.yiqisoo.com']);");
	document.write("_gaq.push(['_trackPageview']);");
	document.write("(function() {");
	document.write("var ga = document.createElement('script'); ga.type = 'text\/javascript'; ga.async = true;");
	document.write("ga.src = ('https:' == document.location.protocol ? 'https:\/\/ssl' : 'http:\/\/www') + '.google-analytics.com\/ga.js';");
	document.write(" var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);");
	document.write(" })();");
	document.write("<\/script>");
	
	document.write("<p style='display:none'>");
	document.write("<script type='text\/javascript'>");
	document.write("var _bdhmProtocol = (('https:' == document.location.protocol) \? ' https:\/\/' : ' http:\/\/');");
	
	document.write("document.write(unescape(\"%3Cscript src='\" + _bdhmProtocol + \"hm.baidu.com\/h.js%3Ff6bbd2a1fae6b4a7b6bd36ba720b99bb' type='text\/javascript'%3E%3C\/script%3E\"));");
	document.write("<\/script>");
	document.write("<\/p>");
</script>