<div class="index_bottom_links">
	<h4>友情链接：</h4>
	<p>
		<a href="http://house.baidu.com/" target="_blank">百度乐居</a>&nbsp;&nbsp;&nbsp;
		<a href="http://quan.china.alibaba.com" target="_blank">商友圈</a>&nbsp;&nbsp;&nbsp;
		<a href="http://www.coo8.com/" target="_blank">库巴购物网</a>&nbsp;&nbsp;
		<a href="http://shanghai.jinpu.com" target="_blank">上海写字楼</a>&nbsp;&nbsp;
		<a href="http://www.jiaju.com/" target="_blank">家居就</a>&nbsp;&nbsp;&nbsp;
		<a href="http://www.fangchan.com/" target="_blank">中房网</a>&nbsp;&nbsp;
		<a href="http://www.hkproperty.com/" target="_blank">香港地产网</a>&nbsp;&nbsp;
		<a href="http://www.sousea.com" target="_blank">房产网站专业导航</a>
	</p>
</div>