<div class="mall-hot">
	<div class="hd">
		<h3>精选商品</h3>
	</div>
	
	<div class="bd">
		<ul class="list-img-tit" bk="list_ad">
			<li>
				<a class="pic" href="http://open.union.360.cn/go?bid=2000801&qihoo_id=36050&stat_id=48&cid=48&url=http%3A%2F%2Fwww.360buy.com%2Fproduct%2F722416.html&sign=533fb0b43e" target="_blank">
					<img src="http://p0.qhimg.com/dr/160_160_100/t01f70634ecdf4dd3ae.jpg" alt="三星（SAMSUNG）S7562 3G手机（纯白）WCDMA/GSM 双卡双待" />
					<i class="hot"></i>
				</a>
				<h4><a href="http://open.union.360.cn/go?bid=2000801&qihoo_id=36050&stat_id=48&cid=48&url=http%3A%2F%2Fwww.360buy.com%2Fproduct%2F722416.html&sign=533fb0b43e" target="_blank" title="三星（SAMSUNG）S7562 3G手机（纯白）WCDMA/GSM 双卡双待">三星（SAMSUNG）S7562 3G手机（纯白）WCDMA/GSM 双卡双待</a></h4>
				<p>
					<strong>￥1798</strong>
	            </p>
			</li>
			
			<li>
				<a class="pic" href="http://open.union.360.cn/go?bid=2000801&qihoo_id=36050&stat_id=48&cid=48&url=http%3A%2F%2Fwww.360buy.com%2Fproduct%2F656206.html&sign=a48cca24fc" target="_blank">
					<img src="http://p2.qhimg.com/dr/160_160_100/t0103d107b4edb0c9d0.jpg" alt="三星（SAMSUNG）Galaxy S3 I9308 3G手机 (云石白) TD-SCDMA/GSM" />
					<i class="hot"></i>
				</a>
				<h4><a href="http://open.union.360.cn/go?bid=2000801&qihoo_id=36050&stat_id=48&cid=48&url=http%3A%2F%2Fwww.360buy.com%2Fproduct%2F656206.html&sign=a48cca24fc" target="_blank" title="三星（SAMSUNG）Galaxy S3 I9308 3G手机 (云石白) TD-SCDMA/GSM">三星（SAMSUNG）Galaxy S3 I9308 3G手机 (云石白) TD-SCDMA/GSM</a></h4>
				<p>
									<strong>￥3899</strong>
													</p>
			</li>
			
			<li>
				<a class="pic" href="http://open.union.360.cn/go?bid=2000319&qiiihoo_id=36050&stat_id=910&cid=910&url=http%3A%2F%2Fproduct.dangdang.com%2Fproduct.aspx%3Fproduct_id%3D60326115&sign=bf92619523" target="_blank">
				<img src="http://p1.qhimg.com/dr/160_160_100/t01adc4a80888e834a4.jpg" alt="【当当自营】 SAMSUNG三星 I9220 原装耳机白色 简装适用于三星i9108 i9228 i9250 I9220 i9300 i9308 等3.5接口手机" />
				<i class="new"></i>
				</a>
					<h4><a href="http://open.union.360.cn/go?bid=2000319&qihoo_id=36050&stat_id=910&cid=910&url=http%3A%2F%2Fproduct.dangdang.com%2Fproduct.aspx%3Fproduct_id%3D60326115&sign=bf92619523" target="_blank" title="【当当自营】 SAMSUNG三星 I9220 原装耳机白色 简装适用于三星i9108 i9228 i9250 I9220 i9300 i9308 等3.5接口手机">【当当自营】 SAMSUNG三星 I9220 原装耳机白色 简装适用于三星i9108 i9228 i9250 I9220 i9300 i9308 等3.5接口手机</a></h4>
					<p>
										<strong>￥49</strong>
											<del>￥99</del>
														</p>
			</li>	
		</ul>
	</div>
</div>