<!---热销商品 --->
<script language="javascript" type="text/javascript">
	$(function() {
		$("#tjList li .pic img").LoadImage(true,73,78);
		$("#change").click(function(){
			$("#tjList").html('');
			$("#loading").show();
			//$("#tjList li").hide();
			ids = $("#id_str").html();
			//alert(ids);
			var classid = "";
			var utm = "";
			if(utm) {
				var geturl = 'http://www.yiqisoo.com/api/get_yiqisoo_3c_recommend.php?classid='+classid+'&ids='+ids+'&utm_campaign='+utm+'&format=json&jsoncallback=?';
			}else{
				var geturl = 'http://www.yiqisoo.com/api/get_yiqisoo_3c_recommend.php?classid='+classid+'&ids='+ids+'&format=json&jsoncallback=?';
			}
			${JQUERY}getJSON(geturl,function(data){
				try{
					if(data){
						$("#loading").hide();
						$("#id_str").html(data.id_str);
						var recommend_str = '';						
						var new_data = data.recommend;
						var len = new_data.length;		
						if(utm) {
							for(var j=0;j<len;j++){
								json = new_data[j];
								recommend_str += '<li class="clearfix" ><img src="'+ json.img +'" class="hot"/><div class="pic"><a href="'+ json.url +'?anl=lb_hot_'+classid+'_'+(j+1)+'_pic&utm_campaign='+utm+'" target="_blank"><img src="'+ json._pic +'" alt="'+ json.title +'" /></a></div><div class="txt"><h3 class="title f12"><a href="'+ json.url +'?anl=lb_hot_'+classid+'_'+(j+1)+'_title&utm_campaign='+utm+'" target="_blank">'+ json.title2 +'</a></h3><p class="price">¥'+ json.minprice +'-'+ json.maxprice +'</p><p class="gray">'+ json.shoptot +'个商城报价</p><p class="gray">'+ json.commtot +'条评论</p></div></li>';
							}                   
							if(recommend_str){
								$("#tjList").html(recommend_str);
								$("#tjList li .pic img").LoadImage(true,73,78);
							}
						}else{
							for(var j=0;j<len;j++){
								json = new_data[j];
								recommend_str += '<li class="clearfix" ><img src="'+ json.img +'" class="hot"/><div class="pic"><a href="'+ json.url +'?anl=lb_hot_'+classid+'_'+(j+1)+'_pic" target="_blank"><img src="'+ json._pic +'" alt="'+ json.title +'" /></a></div><div class="txt"><h3 class="title f12"><a href="'+ json.url +'?anl=lb_hot_'+classid+'_'+(j+1)+'_title" target="_blank">'+ json.title2 +'</a></h3><p class="price">¥'+ json.minprice +'-'+ json.maxprice +'</p><p class="gray">'+ json.shoptot +'个商城报价</p><p class="gray">'+ json.commtot +'条评论</p></div></li>';
							}                   
							if(recommend_str){
								$("#tjList").html(recommend_str);
								$("#tjList li .pic img").LoadImage(true,73,78);
							}
						}
					}
				}catch(e){
					return;
				}
			});
		});

		$("#change").trigger("click");
	});
</script>

<div class="leftBoxStyle">        
	<h2>
		<span class="fl">
			热销产品
		</span>
		<a href="javascript:;" class="gray fn fr f12" id="change">换一换</a> 
	</h2>
	<div class="box">
		<div id="loading" style="text-align:center; padding:30px;"><img src="http://img01.yiqisooimg.com/yiqisoo/dandelion/common2012/images/loading.gif" /></div>
		<ul class="list_img_tj" id="tjList">
		</ul>
	</div><!--/box-->
</div>
<div id="id_str" style="display:none"></div>
<!--/热销商品 -->