#set($JQUERY='$.')

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Galaxy，比较购物搜索引擎</title>
		<meta name="keywords" content="Galaxy,购物,比价,购物搜索,搜索" />
		<meta name="description" content="Galaxy收录了淘宝商城、QQ商城、京东、当当、亚马逊、新蛋、苏宁等上百家网上商城，囊括家电、3C数码、家居用品、图书、音像制品、奢侈品、化妆品、母婴用品、进口食品、葡萄酒等200多个商品分类，几百万种商品。为消费者在购买前，提供商品搜索，查看各个在线商城的全部评论、库存、运费、物流、价格等的比较，让消费者可以货比三家，真正做到理性消费。" />
		
		<link rel="stylesheet" type="text/css" href="/assets/css/topbar.css"/>
		<link rel="stylesheet" type="text/css" href="/assets/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/assets/css/list.css"/>

		<script>
			var heightkuang=0;
			var classjsid=0;
		</script>

		<script type="text/javascript" src="/assets/js/jquery-1.6.4.min.js"></script>
		<script type="text/javascript" src="/assets/js/ui.js"></script>
	</head>

	<body>
		
		#parse("topbar.vm")		
		#parse("header.vm")
		##parse("nav.vm")
			
		<!--主体部份-->
		<div class="part clearfix" id="main">
			<!--Left S-->
			<div class="side_left">
				#parse("categoryNav.vm")
                <!--  带关键字的搜索  -->	
                <div class="leftBoxStyle">
                	<!-- 搜索结果开始 --> 
                	<h2>搜索结果</h2>
                	<div class="box">
                  		<div class="classify">
                    		<p class="gray">
                    			<a class="gray">所有分类</a>
                    		</p>   
            				<ul id="fenlei">
							  	<li ><a href="http://book.yiqisoo.com/index.php?action=life&type=life&keyword=galaxy&classid=55&pid=0&anl=lb_list_55">[图书]进口图书<i>(64)</i></a></li>		
							  	<li ><a href="http://3c.yiqisoo.com/index.php?action=life&type=life&keyword=galaxy&classid=7&pid=0&anl=lb_list_7">平板电脑<i>(32)</i></a></li>		
							  	<li ><a href="http://3c.yiqisoo.com/index.php?action=life&type=life&keyword=galaxy&classid=13&pid=0&anl=lb_list_13">手机<i>(21)</i></a></li>		
							  	<li ><a href="http://book.yiqisoo.com/index.php?action=life&type=life&keyword=galaxy&classid=53&pid=0&anl=lb_list_53">图书<i>(7)</i></a></li>		
							  	<li ><a href="http://book.yiqisoo.com/index.php?action=life&type=life&keyword=galaxy&classid=63&pid=0&anl=lb_list_63">[图书]文学<i>(3)</i></a></li>		
							  	<li ><a href="http://book.yiqisoo.com/index.php?action=life&type=life&keyword=galaxy&classid=54&pid=0&anl=lb_list_54">[图书]计算机<i>(2)</i></a></li>		
							  	<li ><a href="http://book.yiqisoo.com/index.php?action=life&type=life&keyword=galaxy&classid=60&pid=0&anl=lb_list_60">[图书]外语<i>(1)</i></a></li>		
							  	<li ><a href="http://book.yiqisoo.com/index.php?action=life&type=life&keyword=galaxy&classid=66&pid=0&anl=lb_list_66">[图书]小说<i>(1)</i></a></li>		
							  	<li ><a href="http://lux.yiqisoo.com/index.php?action=life&type=life&keyword=galaxy&classid=111&pid=0&anl=lb_list_111">包<i>(1)</i></a></li>
							</ul>  
                		</div>
                 	</div><!--/box-->
				</div>
				
				#parse("viewedList.vm")
				#parse("recommend.vm")				
    		</div>
    		<!--Left E-->
    		
    		<!--Right S-->
    		<div class="side_right">
				<div class="search_terms clearfix">
					<div class="position">
		            	<span class="fl">
		                	<span class="gray">您的位置：</span>
		                    <em class="blue">
		                    	<a href="http://www.yiqisoo.com/?anl=lb_weizhi_sy" class="blue">首页</a> &gt; 
		                    	<a href="http://www.yiqisoo.com/index.php?action=shop&anl=lb_weizhi_shop" class="blue">全部分类</a>                     </em>
						</span>
		                <span class="fr">
		                	找到相关结果约 <em class="black">132</em> 个(用时 <em class="black">0.067</em> 秒)
		                </span>
		            </div><!--/当前位置-->
				</div>
        
        		<!--/条件筛选结束-->
        		<script language="javascript" type="text/javascript">
        			$(function(){
						var oScreening=$("#screening");
						var oOffset=oScreening.offset();
						var iWindowScroll=0;
						var oldTop=parseInt(oOffset.top);
						var oIe6True=${JQUERY}browser.msie && (${JQUERY}browser.version == "6.0") && !${JQUERY}support.style;
						$(window).bind('scroll',sortingScroll);
						$(window).bind('resize',sortingScroll);
						function sortingScroll(){
							var oldLeft=parseInt($(".side_right").offset().left);
							iWindowScroll=parseInt($(window).scrollTop());
							if(iWindowScroll>oldTop) {
								if(oIe6True) {
									oScreening.css({"position":"absolute","left":oldLeft+"px","z-index":9999}).animate({"top":iWindowScroll+"px"},5);
								} else {
									oScreening.css({"position":"fixed","left":oldLeft+"px","top":"0px","z-index":9999});
								}
								$("#recovery").show();
							} else {
								if (oIe6True) {
									oScreening.css({"position":"relative","left":"0px","z-index":9999}).animate({"top":"0px"},5);
								} else {
									oScreening.css({"position":"relative","left":"0px","top":"0px","z-index":9999});
								}
								$("#recovery").hide();
							}
						};
				
						$("#recovery").click(function() {
							if(oIe6True) {
								oScreening.css({"position":"relative","left":"0px","z-index":9999}).animate({"top":"0px"},5);
							} else {
								oScreening.css({"position":"relative","left":"0px","top":"0px","z-index":9999});
							}
							$(this).hide();
							$(window).unbind('scroll');
						});
					});
        		</script>
        		
        		<!--search sort S-->
				<div class="sorting" id="screening">
					<div class="page fr"> 
						<span>1 / 8</span>
						<a href="http://www.yiqisoo.com/index.php?keyword=galaxy&action=life&type=life&page=2&anl=lb_page_2" class="next">下一页</a>
					</div>
					
					<ul>
						<!--排序-->
                		<li style="background:none;" >
                			<a class="toggle_list" href="http://www.yiqisoo.com/index.php?keyword=galaxy&action=life&type=life&list=1&page=1&anl=lb_gongneng_list=1" title="列表显示"></a>
                		</li>
						<li style="background:none;" class="active">
							<a class="toggle_img" href="http://www.yiqisoo.com/index.php?keyword=galaxy&action=life&type=life&list=2&page=1&anl=lb_gongneng_list=2" title="图片显示"></a>
						</li>
                		<li>
                   		 	<div class="select">
                        		<span class="btn">默认排序</span>
                        		<div class="super_select">
                            		<p>
                            			<a href="http://www.yiqisoo.com/index.php?keyword=galaxy&action=life&type=life&order=minprice&direction=1&anl=lb_gongneng_order=minprice">最低价从低到高</a>
                            		</p>
                            		<p>
                            			<a href="http://www.yiqisoo.com/index.php?keyword=galaxy&action=life&type=life&order=minprice&direction=0&anl=lb_gongneng_order=minprice">最低价从高到低</a>
                            		</p>
                           		 	<p>
                           		 		<a href="http://www.yiqisoo.com/index.php?keyword=galaxy&action=life&type=life&order=zonghepingfen&direction=0&anl=lb_gongneng_order=zonghepingfen">综合评分从高到低</a>
                           		 	</p>
                            		<p>
                            			<a href="http://www.yiqisoo.com/index.php?keyword=galaxy&action=life&type=life&order=zonghepingfen&direction=1&anl=lb_gongneng_order=zonghepingfen">综合评分从低到高</a>
                            		</p>
							        <p>
							        	<a href="http://www.yiqisoo.com/index.php?keyword=galaxy&action=life&type=life&order=commtot&direction=0&anl=lb_gongneng_order=commtot">评论数从多到少</a>
							        </p>
                            		<p>
                            			<a href="http://www.yiqisoo.com/index.php?keyword=galaxy&action=life&type=life&order=commtot&direction=1&anl=lb_gongneng_order=commtot">评论数从少到多</a>
                            		</p>
                            		<p>
                            			<a href="http://www.yiqisoo.com/index.php?keyword=galaxy&action=life&type=life">默认排序</a>
                            		</p>
                        		</div>
                    		</div>
                  		</li>
    
          				<li>
          					<a title="点击按（评论数从多到少）" href="http://www.yiqisoo.com/index.php?keyword=galaxy&action=life&type=life&order=commtot&anl=lb_gongneng_order=commtot&direction=0"  class="down_long">评论数</a>
          				</li>
                   		<li>
                   			<a title="点击按（综合评分从高到低）" href="http://www.yiqisoo.com/index.php?keyword=galaxy&action=life&type=life&order=zonghepingfen&anl=lb_gongneng_order=zonghepingfen&direction=0" class="down_long2">综合评分</a>
                   		</li>
                  		<li>
                  			<a title="点击按（最低价从低到高）" href="http://www.yiqisoo.com/index.php?keyword=galaxy&action=life&type=life&order=minprice&anl=lb_gongneng_order=minprice&direction=1" target="_self" class="down_long">最低价</a>
                  		</li>
                		<li>
                			<div class="search_price">
                  		    	<input type="text" class="txt" id="price1" value="" onfocus="this.className='txt2'" onblur="this.className='txt'" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                  		    	<i>-</i>
                  		    	<input type="text" class="txt" id="price2"  value=""  onfocus="this.className='txt2'" onblur="this.className='txt'" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                  		    	<input type="button" value="" class="btn" id="pricesubmit" onmouseover="this.className='btn2'"  onmouseout="this.className='btn'"/>
                    		</div> 
                    	</li>
                	</ul>
             		<a href="javascript:;" id="recovery"></a>
					<!--/排序-->
				</div>        
       			<!--search sort E-->
       	
                <div class="new_list_img2 clearfix" >
        			<ul class="clearfix">
                		#foreach($item in ${resultModel.itemList})
                		<li>
                			<div class="box">
                    			<div class="t"></div>
                        		<div class="c">
		                            <div class="pic">
		                                <a target="_blank" href="/detail.jhtml?id=${item.id}"  >
		                                	<img src="/assets/images/t.gif" _src="${item.logoURL}">
		                                </a>
		                            </div><!--/图-->
                            		<h3>
                            			<a target="_blank" href="/detail.jhtml?id=${item.id}">
                            				$!{item.name}
                            			</a>
                            		</h3>
                            		<p>
                            			<em class="f14"><em class="en">${item.score}</em>分</em>
                            			<span class="rating">
                            				<em class="ico_ratefull"></em>
                            				<em class="ico_ratefull"></em>
                            				<em class="ico_ratefull"></em>
                            				<em class="ico_ratefull"></em>
                            				<em class="ico_ratepart"></em>
                            			</span>
                            			<em class="gray">(<em class="en">${item.commentCount}</em>个评分)</em>
                            		</p>
                            		<p><span class="gray">暂无评论</span></p>
                            		<p class="price">
                            			<a href="/detail.jhtml?id=${item.id}" target="_blank" >¥${item.minPrice} - ${item.maxPrice}</a> 
                            		</p>
                        			<p class="clearfix">
                                		<span class="fl"><em class="en">${item.sllerCount}</em>个商城报价</span>
                                    </p>
                   				</div><!--/c-->
                        		<div class="b"></div>
                    		</div><!--/box-->
                		</li>
                		#end
                	</ul>
        		</div>  
        
				#parse("pagination.vm")        
    		</div><!--/右-->
    		<!--Right E-->
    		
		</div><!--/主体部份-->

		<script language="javascript" type="text/javascript">
			$('.sm_imgList li .img img').LoadImage(true,60,60);
			
			function showPic(obj,num) {
				var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
				var clientHeight = document.documentElement.clientHeight;
				var viewHeight = scrollTop + clientHeight;
				obj.each(function(i) {
					try {
						var offset=obj.eq(i).offset();
						var thisImg=obj.eq(i).find('img').eq(num);
						if(offset.top<viewHeight) {
							thisImg.LoadImageList(true,220,220);
							thisImg.attr('src',thisImg.attr('_src'));
						}
					}catch(e){};
				});
			}
			function scrollresize() {
				showPic($('.new_list_img2 li .pic'),0);
			}
			scrollresize();
			$(window).bind('scroll',scrollresize);
			$(window).bind('resize',scrollresize);
			
			var new_zindex2=20;
			$(".imgListshow").click(function(){
				var classid =$(this).attr('classid');
				var md5keyid =$(this).attr('md5keyid');
				var page = "1";
				var utm = "";
				var _this=$(this);
				if($(this).attr('flag')=='true') {
					if(utm) {
						var urls ='http://www.yiqisoo.com/api/get_new_list_detail.php?classid='+classid+'&anl=lb_list_'+classid+'_page_'+page+'&utm_campaign='+utm+'&md5keyid='+md5keyid+'&format=json&jsoncallback=?';
					} else {
						var urls ='http://www.yiqisoo.com/api/get_new_list_detail.php?classid='+classid+'&anl=lb_list_'+classid+'_page_'+page+'&md5keyid='+md5keyid+'&format=json&jsoncallback=?';
					}
					${JQUERY}getJSON(urls,function(data){
						try {
							if(data) {
								_this.parents('.c').append(data.detail);	
								_this.parents('.c').find(".imgListhide").click(function(){
									_this.parents('li').removeClass();
								});
							}
						} catch(e) {
							return;
						}
					});
					$(this).attr('flag','false')
				}
		
				$(this).parents('li').addClass('active').css({"z-index":new_zindex2++}).siblings().removeClass();
			});
		</script>

		#parse("footer.vm")
    	
    	<script>
			//家电选择品牌
			function selectBrand4C(className) {
				checkboxes = $("#ssp2 a");
				size=checkboxes.length;
				var compare=[];
				for(i=0;i<size;++i) {
					v = checkboxes.eq(i);
					if(v.hasClass('active'))
					compare.push(v.attr("value"));
				}
				if(compare.length==0)return;
	
				url = window.location.href;
				url = url.replace(/&bd[^&]*/,'');
				url = url.replace(/&page[^&]*/,'');

				if(compare.length)
					url += '&bd='+encodeURIComponent(compare.join(','));
					//alert(url);
				window.location.href = url;
			}

			$("#pricesubmit").click(function(){
				var price1v=${JQUERY}trim($('#price1').val());
				var price2v=${JQUERY}trim($('#price2').val());
				if(price1v==''){
					price1v=0;
				}
				if(price2v==''||price2v=='不限'){
					price2v='';
				}
				if(price2v==''){
					price2v=99999999;
				}
		
				if (parseInt(price1v) > parseInt(price2v)) {
					alert('最低价格不能大于最高价格');
					return false;
				}
				url = window.location.href;
				url = url.replace(/[?|&]price=[^&]*/i, '');
				url = url.replace(/[?|&]menu=[^&]*/i, '');
				url = url + "&menu=1&price=" + encodeURIComponent(price1v + '-' + price2v);
				window.location = url;
			});
		</script>

		<script language="javascript" type="text/javascript">
			function newSetCookie(name, value, iDay) {
				//'名字=值;expires=时间'
				var oDate=new Date();
				oDate.setDate(oDate.getDate()+iDay);
				document.cookie=name+'='+value+';expires='+oDate;
			}
	
			function newGetCookie(name)	{
				var arr=document.cookie.split('; ');
				var i=0;
		
				for(i=0;i<arr.length;i++) {
					var arr2=arr[i].split('=');
					if(arr2[0]==name) {
						return arr2[1];
					}
				}
		
				return '';
			}
	
			function newRemoveCookie(name) {
				setCookie(name, 1, -1);
			}

			$(function() {
				var showMores=newGetCookie('showMore'+classjsid);
				var showMoreA=$("#showmore a");
				if(showMores==1) {
					showMoreA.removeClass().addClass('hide');
					showMoreA.parents('.box').find('dl:gt(3)').show();
				} else if(showMores==2) {
					showMoreA.removeClass().addClass('show');
					showMoreA.parents('.box').find('dl:gt(3)').hide();
				}
		
				showMoreA.click(function() {
					if($(this).hasClass('show')) {
						//展开cookie为0
						newSetCookie('showMore'+classjsid,1);
						$(this).removeClass().addClass('hide');
						$(this).parents('.box').find('dl:gt(3)').show();
						showMores=newGetCookie('showMore'+classjsid);
					} else {
						//收起cookie为1
						newSetCookie('showMore'+classjsid,2);
						$(this).removeClass().addClass('show');
						$(this).parents('.box').find('dl:gt(3)').hide();
						showMores=newGetCookie('showMore'+classjsid);
					}
				});
	
				var oShow1=$("#show1");
				var oShow2=$("#show2");
				var oBrand1=$("#brand1");
				var oBrand2=$("#brand2");
				var sClassActive='active';
				var oShowBrandA=$("#showbrand a");
				var oShowBrandA2=$("#showbrand2 a");
				
				var sGD='更多';
				var sSQ='收起';
		
				if(oBrand2.is(":visible")) {
					newSetCookie('showPin'+classjsid,'show');
				}
		
				oShowBrandA.click(function() {
					if($(this).hasClass('show')) {
						newSetCookie('showPin'+classjsid,'show');
						$(this).removeClass().addClass('hide').text(sSQ);
						if(newGetCookie('showPinDuo'+classjsid)=='duo') {
							oBrand1.hide();
							oShow1.removeClass(sClassActive);
							oBrand2.show();
							if(heightkuang!=0) {
								oShow2.addClass(sClassActive).css({"height":heightkuang+"px"});
							} else {
								oShow2.addClass(sClassActive);
							}
							$("#ssp2 li").show();
						} else {
							oBrand2.hide();
							oShow2.removeClass(sClassActive);
							oBrand1.show();
							if(heightkuang!=0) {
								oShow1.addClass(sClassActive).css({"height":heightkuang+"px"});
							} else {
								oShow1.addClass(sClassActive);
							}
							$("#ssp li").show();
						}
					} else {
						newSetCookie('showPin'+classjsid,'hide');
						$(this).removeClass().addClass('show').text(sGD);
						oBrand2.hide();
						oBrand1.show();
						if(heightkuang!=0) {
							oShow2.removeClass(sClassActive).css({"height":"auto"});
							oShow1.removeClass(sClassActive).css({"height":"auto"});;
						} else {
							oShow2.removeClass(sClassActive);
							oShow1.removeClass(sClassActive);
						}
						$("#ssp li:gt(4)").hide();
						$("#ssp li").last().show();
					}
				});
	
				oShowBrandA2.click(function() {
					if($(this).hasClass('show')) {
						newSetCookie('showPin'+classjsid,'show');
						$(this).removeClass().addClass('hide').text(sSQ);
						if(newGetCookie('showPinDuo'+classjsid)=='duo') {
							oBrand1.hide();
							oShow1.removeClass(sClassActive);
							oBrand2.show();
							if(heightkuang!=0) {
								oShow2.addClass(sClassActive).css({"height":heightkuang+"px"});
							} else {
								oShow2.addClass(sClassActive);
							}
							$("#ssp2 li").show();
						} else {
							oBrand2.hide();
							oShow2.removeClass(sClassActive);
							oBrand1.show();
							if(heightkuang!=0) {
								oShow1.addClass(sClassActive).css({"height":heightkuang+"px"});
							} else {
								oShow1.addClass(sClassActive);
							}
							$("#ssp li").show();
						}
					} else {
						newSetCookie('showPin'+classjsid,'hide');
						$(this).removeClass().addClass('show').text(sGD);
						oBrand2.hide();
						oBrand1.show();
						if(heightkuang!=0) {
							oShow2.removeClass(sClassActive).css({"height":"auto"});
							oShow1.removeClass(sClassActive).css({"height":"auto"});;
						} else {
							oShow2.removeClass(sClassActive);
							oShow1.removeClass(sClassActive);
						}
						$("#ssp li:gt(6)").hide();
						$("#ssp li").last().show();
					}
				});
		
				$("#multiple").click(function() {
					newSetCookie('showPinDuo'+classjsid,'duo');
					newSetCookie('showPin'+classjsid,'show');
					isdanduo=1;
					oBrand1.hide();
					oShow1.removeClass(sClassActive);
					oBrand2.show();
					if(heightkuang!=0) {
						oShow2.addClass(sClassActive).css({"height":heightkuang+"px"});
					} else {
						oShow2.addClass(sClassActive);
					}
					$("#ssp2 li").show();
					oShowBrandA.removeClass().addClass('hide').text(sSQ);
					oShowBrandA2.removeClass().addClass('hide').text(sSQ);
				});
	
				$("#single").click(function() {
					newSetCookie('showPinDuo'+classjsid,'dan');
					newSetCookie('showPin'+classjsid,'show');
					isdanduo=2;
					oBrand2.hide();
					oShow2.removeClass(sClassActive);
					oBrand1.show();
					if(heightkuang!=0) {
						oShow1.addClass(sClassActive).css({"height":heightkuang+"px"});
					} else {
						oShow1.addClass(sClassActive);
					}
					$("#ssp li").show();
					oShowBrandA.removeClass().addClass('hide').text(sSQ);
					oShowBrandA2.removeClass().addClass('hide').text(sSQ);
				});
			})
		</script>
	</body>
</html>