
.footer {
	padding: 23px 0 31px;
	border-top: 1px solid #e0e0e0;
	background: #f8f8f8;
	text-align: center
}

.footer p {
	color: #666;
	line-height: 26px
}

.footer a {
	color: #666
}

.footer a:hover {
	color: #f00
}

.footer span {
	margin: 0 8px
}