@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font: 12px/1.5 "\5B8B\4F53";
	background: #fff;
	text-align: center;
	color: #010101;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p {
	padding: 0;
	margin: 0;
}

table,td,tr,th {
	font-size: 12px;
}

li {
	list-style-type: none;
}

img {
	vertical-align: top;
	border: 0;
}

ol,ul {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 12px;
	font-weight: normal;
}

address,cite,code,em,th,i {
	font-weight: normal;
	font-style: normal;
}

label {
	vertical-align: middle
}

.inputEle {
	vertical-align: middle;
}

input {
	vertical-align: middle;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

.under_line {
	text-decoration: underline;
}

.en {
	font-family: Arial,Helvetica,sans-serif;
}

.fn {
	font-weight: normal;
}

.fb {
	font-weight: bold;
}

.fl {
	float: left
}

.fr {
	float: right
}

.tc {
	text-align: center;
}

.tl {
	text-align: left;
}

.tr {
	text-align: right;
}

.red {
	color: #fc2b02;
}

.yellow {
	color: #ff8041;
}

.grays {
	color: #7e7e7e;
}

.gray {
	color: #a4a4a4;
}

.blues {
	color: #397ab8;
}

.blue {
	color: #4197ac;
}

.price {
	color: #fc2b02;
	font-family: Arial,Helvetica,sans-serif;
}

a {
	color: #010101;
	text-decoration: none;
}

a:hover {
	color: #fc2b02;
	text-decoration: none;
}

.part {
	width: 1000px;
	margin: 0px auto;
	text-align: left;
}

.line {
	background: url(../images/line.png) repeat-x left bottom;
}

#c1 img {
	background-position: 0px -100px;
}

#c2 img {
	background-position: -110px -100px;
}

#c3 img {
	background-position: 0px -150px;
}

#c4 img {
	background-position: -110px -150px;
}

#c5 img {
	background-position: 0px -200px;
}

#c6 img {
	background-position: -110px -200px;
}

#classify dt #c7 img {
	background-position: 0px -250px;
	width: 48px;
	height: 47px;
}

#c8 img {
	background-position: -110px -250px;
}

#c9 img {
	background-position: 0px -300px;
}

#c10 img {
	background-position: -110px -300px;
}

#c11 img {
	background-position: 0px -350px;
}

#c1:hover img,#c1.hover img,#classify dt.active #c1 img {
	background-position: -40px -100px;
}

#c2:hover img,#c2.hover img,#classify dt.active #c2 img {
	background-position: -150px -100px;
}

#c3:hover img,#c3.hover img,#classify dt.active #c3 img {
	background-position: -40px -150px;
}

#c4:hover img,#c4.hover img,#classify dt.active #c4 img {
	background-position: -150px -150px;
}

#c5:hover img,#c5.hover img,#classify dt.active #c5 img {
	background-position: -40px -200px;
}

#c6:hover img,#c6.hover img,#classify dt.active #c6 img {
	background-position: -150px -200px;
}

#classify dt #c7:hover img,#classify dt #c7.hover img,#classify dt.active #c7 img {
	background-position: -48px -250px;
}

#c8:hover img,#c8.hover img,#classify dt.active #c8 img {
	background-position: -150px -250px;
}

#c9:hover img,#c9.hover img,#classify dt.active #c9 img {
	background-position: -40px -300px;
}

#c10:hover img,#c10.hover img,#classify dt.active #c10 img {
	background-position: -150px -300px;
}

#c11:hover img,#c11.hover img,#classify dt.active #c11 img {
	background-position: -40px -350px;
}

#indexFoucs {
	width: 750px;
	float: left;
	height: 330px;
	background: #eee;
	position: relative;
	z-index: 1;
}

#bigImg {
	position: absolute;
	z-index: 1;
	width: 750px;
	height: 330px;
}

#bigImg li {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#bigImg li img {
	width: 750px;
	height: 330px;
}

#number {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 2;
	font-family: Arial,Helvetica,sans-serif;
}

#number i {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #919191;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
	color: #fff;
	margin-left: 2px;
	filter: alpha(opacity:50);
	opacity: 0.5;
}

:root #number i {
	line-height: 23px \0/IE9;
	overflow: hidden;
}

#number i.active {
	background: #4197ac;
	filter: alpha(opacity:100);
	opacity: 1;
}

#reList {
	width: 245px;
	float: right;
}

#reList li {
	height: 79px;
	margin-bottom: 4px;
}

#reList li a {
	height: 70px;
	padding: 10px 0px 0px 10px;
	display: block;
	width: 235px;
}

#reList li a:hover {
	text-decoration: none;
}

#reList li.r1 a {
	background-position: 0px -500px;
	color: #7ba234;
}

#reList li.r2 a {
	background-position: 0px -580px;
	color: #c0a03f;
}

#reList li.r3 a {
	background-position: 0px -660px;
	color: #a977ab;
}

#reList li.r1,#reList li.r2 {
	height: 80px;
}

#reList li.r4 a {
	background-position: 0px -740px;
	color: #6582aa;
}

#reList h2 {
	font-family: "微软雅黑";
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 5px;
}

#reList p {
	line-height: 16px;
}

#reList li.r1 a:hover h2,#reList li.r2 a:hover h2,#reList li.r3 a:hover h2,#reList li.r4 a:hover h2 {
	color: #2f2f2f;
}

#reList li.r1 a:hover p,#reList li.r2 a:hover p,#reList li.r3 a:hover p,#reList li.r4 a:hover p {
	color: #7d7d7d;
}

.saleTitle {
	background: #f5f5f5;
	border-top: 2px solid #2cb0cd;
	height: 30px;
	overflow: hidden;
	padding-right: 10px;
	line-height: 29px;
	margin-bottom: 5px;
}

.saleTitle h2 {
	background-position: 0px -100px;
	height: 32px;
	position: relative;
	top: -2px;
	padding-left: 35px;
	line-height: 32px;
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: 500;
	color: #4197ac;
}

#partB {
	overflow: hidden;
	height: 321px;
	position: relative;
	z-index: 1;
}

.saleList_index {
	width: 1110px;
	position: absolute;
	left: -14px;
	top: -5px;
}

.saleList_index li {
	float: left;
	border-right: solid 1px #e2e2e2;
	border-bottom: solid 1px #e2e2e2;
	width: 313px;
	height: 148px;
	padding: 10px 14px;
}

.saleList_index li .img {
	width: 145px;
	height: 145px;
	border: solid 1px #f3f3f3;
	float: left;
	position: relative;
	z-index: 1;
}

.saleList_index li .img a {
	background: #fff;
	display: table-cell !important;
	vertical-align: middle !important;
	text-align: center;
	display: block;
	*font-size: 126px;
	*font-family: Arial;
	width: 145px;
	height: 145px;
	overflow: hidden;
}

.saleList_index li .img a img {
	max-height: 145px;
	max-width: 145px;
	vertical-align: middle;
}

.saleList_index li .txt {
	float: left;
	padding-left: 10px;
	width: 153px;
	line-height: 20px;
}

.saleList_index li .txt h3 {
	height: 60px;
	overflow: hidden;
}

.saleList_index li .txt h3 a {
	color: #4197AC;
}

.saleList_index li .txt h3 a:hover {
	color: #fc2b02;
	text-decoration: underline;
}

.saleList_index li p {
	height: 20px;
}

.saleList_index li .from {
	background-position: 0px -120px;
	padding-left: 22px;
}

.saleList_index li .price {
	font-size: 20px;
	font-weight: 500;
	margin: 5px 0px;
}

.qiang,.jiang,.zeng,.qiangzeng,.jiangzeng,.saleList_index li .from {
	background-image: url(../images/index/sale.png?15);
	_background-image: url(../images/index/sale.gif?15);
	background-repeat: no-repeat;
}

.qiang,.jiang,.zeng {
	width: 37px;
	height: 37px;
	position: absolute;
	z-index: 1;
	top: -5px;
	right: -5px;
}

.qiang {
	background-position: 0px 0px;
}

.jiang {
	background-position: 0px -40px;
}

.zeng {
	background-position: 0px -80px;
}

.qiangzeng {
	background-position: 0px -180px;
	width: 50px;
	height: 30px;
	position: absolute;
	z-index: 1;
	top: -5px;
	right: -7px;
}

.jiangzeng {
	background-position: 0px -150px;
	width: 50px;
	height: 30px;
	position: absolute;
	z-index: 1;
	top: -5px;
	right: -7px;
}

#footer {
	text-align: center;
	color: #9d9d9d;
	line-height: 28px;
	padding-top: 50px;
	clear: both;
	overflow: hidden;
}

#footer p {
	margin: 0 auto;
	padding-top: 7px;
}

#footer p.t_line {
	border-top: 1px solid #cdcdcd;
	width: 600px;
}

#footer p a {
	color: #4197ac;
}

#footer p a:hover {
	color: #fc2b02;
}

.tit {
	border-bottom: solid 2px #2cb0cd;
	background: #fff;
	height: 30px;
	padding: 0px 10px;
	line-height: 30px;
	overflow: hidden;
	margin: 10px 0px 20px 0px;
}

.tit span.fl {
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: 500;
	color: #4197ac;
}

.tit em.fr a.gray {
	line-height: 20px;
	margin-top: 10px;
	height: 20px;
	display: inline-block;
	padding: 0px 5px;
}

#partC {
}

#partC dl {
	width: 485px;
	margin-bottom: 10px;
}

#partC dl dt {
	height: 25px;
	overflow: hidden;
	border-bottom: solid 1px #a2d7ef;
	line-height: 25px;
	padding: 0px 10px;
}

#partC dl dt span {
	font-weight: bold;
	font-size: 14px;
}

#partC dl dd {
	width: 488px;
	overflow: hidden;
}

.logoImg {
	margin-top: 20px;
	width: 496px;
}

.logoImg li {
	width: 122px;
	text-align: center;
	text-align: center;
	float: left;
	line-height: 20px;
	padding: 10px 0px;
	border-right: solid 1px #e2e2e2;
}

.logoImg li img {
	display: block;
	margin: 0px auto;
}

.more {
	background: url(../images/more.png?14) no-repeat right center;
	padding-right: 15px;
}

.more:hover {
	background: url(../images/morehover.png?14) no-repeat right center;
	padding-right: 15px;
}

.index_bottom_links {
	width: 600px;
	margin: 0 auto;
	padding: 40px 0 0 0;
	line-height: 24px;
	color: #9e9e9e;
	text-align: left;
}

.index_bottom_links a {
	color: #9e9e9e;
}

.index_bottom_links a:hover {
	color: #fc2b02;
}

.index_bottom_links h4 {
	font-size: 12px;
	padding-bottom: 5px;
}

#partD {
	overflow: hidden;
	height: 470px;
	position: relative;
	z-index: 1;
}

.topRecommendations {
	width: 1110px;
	line-height: 20px;
	top: -10px;
	position: absolute;
	left: -14px;
}

.topRecommendations li {
	float: left;
	border-right: solid 1px #e2e2e2;
	border-bottom: solid 1px #e2e2e2;
	width: 313px;
	height: 224px;
	padding: 10px 14px;
}

.topRecommendations li .top {
	height: 148px;
	overflow: hidden;
}

.topRecommendations li .top .backg {
	position: absolute;
	left: 0px;
	top: 110px;
	height: 40px;
}

.topRecommendations li .top .backg .bg {
	background: #000;
	cursor: pointer;
	filter: alpha(opacity:40);
	opacity: 0.4;
	height: 40px;
	left: 0px;
	top: 0px;
	width: 110px;
	z-index: 1;
	position: absolute;
}

.topRecommendations li .top .backg .text {
	height: 40px;
	cursor: pointer;
	left: 0px;
	top: 0px;
	width: 110px;
	z-index: 2;
	position: absolute;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

.topRecommendations li .top .backg .text em {
	display: block;
	text-align: center;
	width: 110px;
	font-size: 12px;
	height: 20px;
	overflow: hidden;
	font-weight: bold;
}

.topRecommendations li .top .backg .text em.price {
	color: #fff;
}

.topRecommendations li .imgTxt {
	width: 110px;
	height: 110px;
	border: solid 1px #f3f3f3;
	float: left;
	overflow: hidden;
	position: relative;
}

.topRecommendations li .imgTxt .pic {
	position: relative;
	left: 0px;
	top: 0px;
	background: #fff;
	display: table-cell !important;
	vertical-align: middle !important;
	text-align: center;
	display: block;
	*font-size: 105px;
	*font-family: Arial;
	width: 110px;
	height: 110px;
	overflow: hidden;
}

.topRecommendations li .imgTxt .pic img {
	max-height: 110px;
	max-width: 110px;
	_height: 110px;
	_width: 110px;
	vertical-align: middle;
}

.topRecommendations li .txt {
	float: left;
	padding-left: 10px;
	width: 190px;
	line-height: 20px;
}

.topRecommendations li .txt dt {
	height: 44px;
	overflow: hidden;
}

.topRecommendations li a {
	color: #4197ac;
}

.topRecommendations li a:hover {
	color: #fc2b02;
	text-decoration: underline;
}

.cpCause {
	background: url(../images/line.png) repeat-x left top;
	padding-top: 4px;
	margin-top: 2px;
}

.cList {
	height: 36px;
	overflow: hidden;
}

.cList img {
	height: 16px;
	margin: 0px 2px 4px 0px;
	float: left;
}

.cList .c1 {
	width: 51px;
	background-position: 0px -410px;
}

.cList .c2 {
	width: 29px;
	background-position: -60px -410px;
}

.cList .c3 {
	width: 51px;
	background-position: 0px -430px;
}

.cList .c4 {
	width: 29px;
	background-position: -100px -430px;
}

.cList .c5 {
	width: 29px;
	background-position: -60px -430px;
}

.cList .c6 {
	width: 29px;
	background-position: -100px -410px;
}

.cList .c7 {
	width: 29px;
	background-position: -140px -410px;
}

.comment {
	background: #f6f6f6;
	border: solid 1px #e9e9e9;
	padding: 5px 10px 3px 10px;
	height: 60px;
	margin-top: 7px;
}

.comment .detail {
	height: 40px;
	overflow: hidden;
}

.comment .t span {
	float: left;
}

.comment .t a {
	float: right;
}

#partE {
	overflow: hidden;
	height: 440px;
	position: relative;
	z-index: 1;
	margin-top: 20px;
}

.indexList {
	width: 1110px;
	position: absolute;
	left: -14px;
	top: -20px;
}

.indexList li {
	float: left;
	border-right: solid 1px #e2e2e2;
	border-bottom: solid 1px #e2e2e2;
	width: 313px;
	height: 196px;
	padding: 20px 14px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.indexList li .img {
	width: 310px;
	height: 100px;
}

.indexList li .img img {
	width: 310px;
	height: 100px;
}

.indexList li h3 {
	height: 40px;
	padding-top: 5px;
	line-height: 20px;
	overflow: hidden;
	margin-bottom: 5px;
}

.indexList li h3 a {
	color: #4197AC;
}

.indexList li h3 a:hover {
	color: #fc2b02;
	text-decoration: underline;
}

.indexList li .txt {
	background: #f6f6f6;
	border: solid 1px #e9e9e9;
	line-height: 20px;
	padding: 5px 10px;
	height: 40px;
}

.indexList li .tips {
	width: 62px;
	height: 20px;
	line-height: 24px;
	color: #fff;
	padding: 0px 5px 0px 10px;
	position: absolute;
	z-index: 1;
	right: 13px;
	top: 97px;
	background-position: 0px -460px;
	overflow: hidden;
	text-align: center;
}

#focus_title {
	color: #a4a4a4;
}