@charset "utf-8";
body {
	background:none;
}
.fe68d57 {
	color:#e68d57;
}
.f14 {
	font-size:14px;
}
.pl19 {
	padding-left:19px;
}
.mtb10 {
	margin-top:10px;
	margin-bottom:10px;
}
.bdrffcc66 {
	border-color:#fc6!important;
	border-width:2px!important;
}
.reg_wrap {
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_bg.jpg?590) repeat-x 0 0;
}
.reg_top {
	height:52px;
	clear:both;
}
.reg_top .login_info {
	float:right;
	color:#4197ac;
	padding:12px 112px 0 0;
}
.reg_top2 {
	height:34px;
	clear:both;
	overflow:hidden;
	text-align:right;
	color:#4197ac;
	line-height:34px;
}
.box_960 {
	width:960px;
	margin:0 auto;
}
.box_960 .logo {
	width:366px;
}
.box_960 .area {
	left:300px;
	top:62px;
}
.reg_info, .reg_login {
	float:left;
}
.reg_login {
	padding-top:24px;
	padding-bottom:47px;
}
.reg_info {
	width:474px;
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_lbg.jpg?590) no-repeat 10px 20px;
	padding:280px 34px 0 34px;
	line-height:24px;
}
.reg_info h2 {
	font-size:14px;
	font-weight:normal;
	color:#4197ac;
}
.reg_info p {
	color:#818181;
}
.reg_loginin {
	width:364px;
	height:245px;
	background:#e3f0fb;
	position:relative;
	z-index:9999;
}
.reg_loginin_shadow {
	width:360px;
	height:200px;
	border:1px solid #a6c5df;
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_logint2bg.png?590) repeat-x 0 bottom;
	position:absolute;
	left:0;
	top:-1px;
}
.reg_hd {
	position:relative;
	width:100%;
	height:45px;
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_logintbg.png?590) repeat-x 0 0;
	font:normal 18px/45px '\5FAE\8F6F\96C5\9ED1', '\9ED1\4F53';
	text-indent:24px;
	color:#4197ac;
}
.reg_bd {
	margin:9px 0 0 28px;
}
.reg_bd li {
	width:100%;
	padding:6px 0;
	color:#aaa;
}
.reg_bd li label {
	font-size:14px;
	color:#666;
}
.ipt210x22, .ipt60x22, .ipt90x22, .ipt140x22, .ipt42x22, .ipt206x22 {
	border:1px solid #ccc;
	padding:0 2px;
	height:22px;
	line-height:22px;
}
.ipt210x22 {
	width:206px;
}
.ipt60x22 {
	width:56px;
}
.ipt90x22 {
	width:86px;
}
.ipt140x22 {
	width:136px;
}
.ipt42x22 {
	width:38px;
}
.ipt206x22 {
	width:202px;
}
.ipt267x28 {
	border:1px solid #ccc;
	padding:0 7px;
	width:253px;
	height:28px;
	line-height:28px;
	color:#c1c0c0;
	font-size:14px;
}
.reg_loginbtn {
	width:80px;
	height:27px;
	border:0 none;
	font-size:14px;
	font-weight:700;
	color:#fff;
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590) no-repeat 0 0;
hide-focus:expression(this.hideFocus=true);
	outline:none;
}
.reg_pbtn, .reg_jbtn {
	background-image:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590);
	background-repeat:no-repeat;
	border:0 none;
	font-weight:700;
}
.reg_pbtn {
	width:150px;
	height:28px;
	background-position:0 -30px;
	color:#e68d57;
}
.reg_jbtn {
	width:148px;
	height:28px;
	background-position:0 -60px;
	color:#666;
}
.reg_btn80x30 {
	width:80px;
	height:30px;
	border:0 none;
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590) no-repeat -60px -90px;
	font-size:14px;
	color:#55a1d4;
	font-weight:700;
	margin-left:8px;
}
.v_hide {
	visibility:hidden;
}
.reg_link {
	width:364px;
	margin:7px 0 0;
	color:#818181;
	position:relative;
	font-size:14px;
	background:#e3f0fb;
}
.reg_link_shadow {
	width:360px;
	height:200px;
	background:#f4f9fe;
	border-left:1px solid #a6c5df;
	border-right:1px solid #a6c5df;
	border-top:1px solid #a6c5df;
	border-bottom:2px solid #a6c5df;
	position:absolute;
	left:0;
	top:-1px;
	padding:10px 0px;
}

.reg_link dl dt {
	padding:16px 0;
	text-indent:20px;
}
.reg_link dl dd {
	text-align:center;
}
.reg_link_line {text-align:center; height:1px; overflow:hidden;
	margin-top:22px; margin-bottom:10px;
}

.reg_link_line  img{margin:0px auto;}
.reg_ptop {
	width:942px;
	margin:0 auto;
	color:#666;
	border-bottom:1px solid #ddd;
}
.reg_ptop h2 {
	font-size:24px;
	font-family:'\9ED1\4F53';
	padding:28px 10px;
}
.reg_ptop p {
	text-indent:10px;
	padding:0 0 12px 0;
}
.reg_p {
	padding-left:274px;
	padding-top:34px;
}
.reg_p label {
	font-size:14px;
	color:#333;
	text-align:right;
	display:inline-block;
}
.reg_p label .red {
	padding-right:8px;
}
.reg_p li {
	padding:17px 0;
	width:100%;
	float:left;
}
.reg_p .note {
	display:inline;
	padding-left:19px;
	color:#818181;
}
.retrieve_key {
	font-size:24px;
	font-family:'\9ED1\4F53';
	color:#55a1d4;
	padding:68px 0 9px 0;
}
.reg_succ {
	padding:20px 0 0 312px;
	color:#818181;
	height:500px;
}
.reg_p .reg_p_city, .reg_p #jjgs {
	text-align:center;
	border:1px solid #c0def6;
	display:inline;
	padding:5px 27px 5px 12px;
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_p_ico01.png?590) no-repeat right 1px;
	position:relative;
}
.reg_p_city #area_reg_p {
	left:6px;
	top:24px;
}
.reg_p #jjgs {
	position:relative;
}
#jjgs_con1 {
	padding-top:14px;
	padding-left:90px;
}
.calc {
	border:1px solid #a9c7e0;
}
.calcbtn01, .calcbtn02, .calcbtn03, .calcbtn04, .calcbtn05, .calcbtn06, .calcbtn07, .calcbtn08, .calcbtn09, .calcbtn10, .calcbtn11, .calcbtn12, .htbtn01 {
	width:169px;
	height:29px;
	line-height:29px;
	text-indent:45px;
	background-image:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590);
	background-repeat:no-repeat;
	font-size:14px;
	color:#55a1d4;
	font-weight:700;
	cursor:pointer;
}
.calcbtn01 a, .calcbtn02 a, .calcbtn03 a, .calcbtn04 a, .calcbtn05 a, .calcbtn06 a, .calcbtn07 a, .calcbtn08 a, .calcbtn09 a, .calcbtn10 a, .calcbtn11 a, .calcbtn12 a, .htbtn01 a {
	color:#4197ac;
}
.calcbtn01 {
	background-position:0 -160px;
}
.calcbtn02 {
	background-position:0 -190px;
}
.calcbtn03 {
	background-position:0 -220px;
}
.calcbtn04 {
	background-position:0 -250px;
}
.calcbtn05 {
	background-position:0 -280px;
}
.calcbtn06 {
	background-position:0 -310px;
}
.calcbtn07 {
	background-position:0 -340px;
}
.calcbtn08 {
	background-position:0 -370px;
}
.calcbtn09 {
	background-position:0 -400px;
}
.calcbtn10 {
	background-position:0 -430px;
}
.calcbtn11 {
	background-position:0 -460px;
}
.calcbtn12 {
	background-position:0 -490px;
}
.htbtn01 {
	background-position:0 -580px;
}
.calc_hd {
	width:204px;
	height:29px;
	line-height:29px;
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590) no-repeat 0 -130px;
	position:relative;
	color:#4197ac;
	font-size:14px;
	font-weight:700;
	margin-top:17px;
	text-indent:23px;
}
.calc_nav {
	width:204px;
	padding-bottom:80px;
	float:left;
	margin-left:15px;
	_display:inline;
}
.calc_nav ul {
	padding-left:15px;
}
.calc_nav ul li {
	margin-top:9px;
}
.ht_area {
	padding-left:15px;
}
.ht_area li {
	float:left;
	margin-right:13px;
	display:inline;
	white-space:nowrap;
}
.calc_con {
	float:left;
	width:739px;
	color:#333;
}
.calc_con h5 {
	font-size:20px;
	font-family:'\5FAE\8F6F\96C5\9ED1';
	font-weight:700;
	text-align:center;
	color:#4197ac;
	padding:30px 0;
}
.calc_con h6 {
	font-size:18px;
	color:#4197ac;
	padding:14px 0;
}
.calc_con input {
	margin-bottom:6px;
}
.calc_con p {
	width:704px;
	margin:0 auto;
	display:block;
	line-height:18px;
}
.calc_con td {
	height:36px;
}
.calc_countbtn, .calc_resetbtn {
	width:100px;
	height:30px;
	border:0 none;
	overflow:hidden;
	background-image:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590);
	background-repeat:no-repeat;
	font-size:14px;
	font-weight:700;
}
.calc_countbtn {
	background-position:0 -520px;
	color:#ff743d;
}
.calc_resetbtn {
	background-position:0 -550px;
	color:#4197ac;
}
.calc_lineipt {
	border:0 none;
	border-bottom:1px solid #333;
}
.calc_solidipt {
	border-bottom:1px solid #d4d0c8;
	height:21px;
	line-height:21px;
	width:96px;
}
.calc_solidipt2 {
	border-bottom:1px solid #d4d0c8;
	height:22px;
	line-height:22px;
	width:103px;
}
.calc_solidipt3 {
	border-bottom:1px solid #d4d0c8;
}
.calc_state {
	width:703px;
	height:33px;
	overflow:hidden;
	line-height:33px;
	background:#f4f4f4;
	color:#818181;
	text-align:center;
	margin-left:17px;
}
.calc_result {
	font-size:16px;
	color:#F84904;
	padding-bottom:28px;
}
.ht_hd {
	height:37px;
	width:663px;
	border-bottom:1px dashed #b8b8b8;
	margin-left:30px;
	position:relative;
	padding-top:21px;
	padding-left:25px;
}
.ht_hd em {
	font-size:16px;
	font-weight:700;
	font-style:normal;
	margin:0;
	padding:0;
}
.ht_bd {
	margin-left:30px;
	padding-top:20px;
}
.ht_bd li {
	width:690px;
	padding-bottom:18px;
	overflow:hidden;
	font-size:14px;
}
.ht_bd li img {
	margin:0 10px;
	vertical-align:middle;
}
#area_ht1 {
	left:203px;
	top:40px;
}
#area_ht2 {
	left:203px;
	top:40px;
}
.calc_list_rside {
	padding:16px 0 7px 16px;
}
.calc_list_rside li {
	margin:0 0 9px 0;
}
.calc_morelink {
	float:right;
	margin-right:15px;
	_display:inline;
	color:#4197ac;
	font-weight:normal;
	font-size:12px;
}
.calc_lside_hd {
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590) no-repeat -90px 0;
	width:750px;
	height:29px;
	line-height:29px;
	color:#818181;
	position:relative;
}
.calc_lside_hd2 {
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590) no-repeat -90px 0;
	width:750px;
	height:29px;
	line-height:29px;
	color:#818181;
	position:relative;
	text-align:center;
}
.calc_lside_hd2 strong {
	font-size:14px;
	color:#4197ac;
}
.calc_backbtn {
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590) no-repeat -160px -520px;
	width:47px;
	height:23px;
	line-height:23px;
	text-align:center;
	position:absolute;
	left:27px;
	top:4px;
}
.cale_newopenbtn {
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590) no-repeat -110px -550px;
	width:93px;
	height:23px;
	line-height:23px;
	text-indent:10px;
	text-align:left;
	position:absolute;
	left:91px;
	top:4px;
}
.calc_lside_hd strong {
	font-size:14px;
	color:#4197ac;
	margin:0 11px 0 34px;
}
.calc_addbtn {
	width:12px;
	height:12px;
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590) no-repeat 0 -90px;
	position:absolute;
	top:8px;
	right:12px;
	cursor:pointer;
}
.calc_minusbtn {
	width:12px;
	height:12px;
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590) no-repeat -20px -90px;
	position:absolute;
	top:8px;
	right:12px;
	cursor:pointer;
}
.calc_lside_bd {
	border-left:1px solid #a6c5df;
	border-right:1px solid #a6c5df;
	border-bottom:1px solid #a6c5df;
}
.calcico1, .calcico2, .calcico3, .calcico4, .calcico5, .calcico6, .calcico7, .calcico8, .calcico9, .calcico10, .calcico11, .calcico12 {
	width:47px;
	height:47px;
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590) no-repeat;
	position:absolute;
	left:18px;
	top:50%;
	margin-top:-23px;
}
.calcico1 {
	background-position:0 -610px;
}
.calcico2 {
	background-position:-50px -610px;
}
.calcico3 {
	background-position:-100px -610px;
}
.calcico4 {
	background-position:0 -660px;
}
.calcico5 {
	background-position:-50px -660px;
}
.calcico6 {
	background-position:-100px -660px;
}
.calcico7 {
	background-position:0 -710px;
}
.calcico8 {
	background-position:-50px -710px;
}
.calcico9 {
	background-position:-100px -710px;
}
.calcico10 {
	background-position:0 -760px;
}
.calcico11 {
	background-position:-50px -760px;
}
.calcico12 {
	background-position:-100px -760px;
}
.calc_lside_bd_con {
	padding:9px 0 0 102px;
	width:618px;
	height:56px;
	border-bottom:1px dashed #e2e2e2;
	position:relative;
	margin:0 auto;
}
.calc_lside_bd_con .usebtn01 {
	position:absolute;
	right:20px;
	top:50%;
	margin-top:-11px;
	display:block;
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590) no-repeat -110px -520px;
	width:47px;
	height:23px;
	text-align:center;
	line-height:23px;
}
.calc_lside_bd_con h4 {
	color:#4197ac;
	font-size:14px;
}
.calc_lside_bd_con p {
	color:#000;
	padding-top:12px;
}
.calc_inlist {
	padding:16px 0;
	border-left:1px solid #a6c5df;
	border-right:1px solid #a6c5df;
	border-bottom:1px solid #a6c5df;
	background:#fff;
}
.calc_inlist td {
	padding-top:6px;
	padding-bottom:6px;
}
.calc_inlist h6 {
	font-size:16px;
	color:#4197ac;
}
.calc_inlist p {
	padding:0 16px;
	line-height:17px;
}
.calc_lside_bd_con_fix {
	height:2px;
	overflow:hidden;
	background:#fff;
	position:relative;
	top:-1px;
}
.calc_page {
	text-align:center;
	height:30px;
	padding-top:14px;
	background:#fff;
}
.calc_page_in {
	width:109px;
	height:21px;
	line-height:21px;
	text-align:center;
	margin:0 auto;
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/reg_sprite.png?590) no-repeat -150px -30px;
}
.calc_page_prev, .calc_page_next {
	font-size:0;
	float:left;
	width:26px;
	height:21px;
}
.calc_page_num {
	width:57px;
	height:21px;
	float:left;
}
.coryright {
	font-size:14px;
	width:936px;
	margin:20px auto 0;
	border-top:1px solid #ddd;
}
.coryright_nav {
	width:150px;
	padding-left:57px;
	padding-top:22px;
	float:left;
}
.coryright_nav_cur {
	background:url(http://img01.yiqisoo.com/yiqisoo/dandelion/images/liming/calc_nextbtn.png?590) no-repeat 130px center;
	font-weight:700;
}
.coryright_nav a {
	color:#4197ac;
	display:block;
	height:36px;
	text-align:center;
	line-height:36px;
	background:url(http://img01.yiqisooimg.com/yiqisoo/dandelion/images/liming/coryright_line01.png?590) no-repeat center bottom;
}
.coryright_nav a:hover {
	color:#fc2b02;
	text-decoration:underline;
}
.coryright_con {
	background:#f7fbff;
	float:left;
	width:621px;
	min-height:760px;
	padding:0 54px 20px 54px;
}
.coryright_con p {
	padding:11px 0;
	line-height:22px;
}
.coryright_con h2 {
	color:#4197ac;
	font-family:'\5FAE\8F6F\96C5\9ED1';
	font-size:18px;
	padding-top:30px;
}
