#topbar,#topbar img.slogan,#classify .nav,#classify dt img,#classify li img,#reList li a,.saleTitle h2,.cList img,.tips {
	background-image: url(../images/index/index.png?22);
	background-repeat: no-repeat;
}

#topbar {
	height: 33px;
	border-bottom: solid 1px #d6d6d6;
	line-height: 33px;
	background-color: #eeeff1;
	background-repeat: repeat-x;
	background-position: 0 0;
}

#topbar img.slogan {
	display: none;
}

#topbar .fr {
	color: #4197ac;
}

#topbar .fr a {
	color: #4197ac;
}

#topbar .fr a:hover {
	color: #fc2b02;
	text-decoration: underline;
}

#topbar .fr a,#topbar .fr i {
	padding-left: 5px;
}

#topbar .fr a.yellow {
	color: #ff8041;
}