#set(${JQUERY} = '$.')

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>网上购物，比的不止是价格_Galaxy，比较购物搜索引擎Galaxy</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta property="wb:webmaster" content="8254fc58a62c8973" />
		<meta name="keywords" content="购物搜索,比较购物,网上购物,购物查价,商品比价,商品导购,购物比价,一起搜,垂直搜索" />
		<meta name="description" content="一起搜是一个中立的、公正的电商导购平台，是一个开放的购物类垂直搜索引擎。提供各网上商城的商品评论、库存、运费、物流、价格等信息的比较，帮助消费者在网购前进行理性决策。" />
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=1024">
        <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="assets/css/login.css">
		<link rel="stylesheet" type="text/css" href="assets/css/index.css">
		
		<script src="assets/js/bootstrap-min.js"></script>
    	<script src="assets/js/igo.js"></script>

		<script type="text/javascript" src="/assets/js/jquery-1.6.4.min.js"></script>
		<script language="javascript">
			var islife=1;
			var cityname='bj';
		</script>
		<script type="text/javascript" src="assets/js/kws.js"></script>
		<script type="text/javascript" src="/assets/js/ui.js"></script>
	</head>

	<body>
		
		#parse("topbar.vm")
		#parse("header.vm")
		
		<div>
			<div id="page_signin">
                <div class="container">
                	<div class="content">
                    	<div class="row">
                        	<div class="span16">
                            	<div id="signin">
                                	<div class="title">已经注册? 请登录:</div>
                                    	<form id="login_form" action="/user_action.jhtml?_operation_=_login_" method="post">
                                            <fieldset>
                                            	
                                            	#if(${loginErrorMsg})
	                                                <div class="clearfix">
	                                                	<div class="alert alert-error">
	                                                		$!{loginErrorMsg}
	                                                	</div>
	                                                </div>
                                                #end
                                                
                                            	<div class="clearfix">
                                                	<label for="iusername"><span>用户名：</span></label>
                                                   	<div class="input">
                                                    	<input tabindex="1" id="login_username" name="name" label="Username" value="$!{user.name}" type="text">
                                                    </div>
                                              	</div>
                                                <div class="clearfix">
                                                	<label for="ipassword"><span>密码：</span></label>
                                                    <div class="input">
                                                    	<input tabindex="2" id="login_password" name="password" label="Password" value="" type="password" required>
                                                    </div>
                                                </div>

                                                <div class="actions">
                                                	<input tabindex="3" class="btn primary large" type="submit" value="登录">
                                                    <p class="reset"><a tabindex="4" href="/signin/reset" title="找回用户名或密码">找回用户名或密码</a></p>
                                                </div>
                                                
                                                <div class="login_methods">
                                                	<a href="/users/signsina/" class="login_bg weibo_login">微博登录</a>
                                                   	<a href="/user/signqq/" class="login_bg qq_login">QQ登录</a>
                                                   	<a href="/user/signtaobao/" class="login_bg tb_login">淘宝登录</a>
                                                   	<a href="/users/signdouban/" class="login_bg douban_login">用豆瓣帐号登录</a>
                                                   	<a href="/user/signrenren/" class="login_bg rr_login">用人人网登录</a>
                                                </div>
                                       		</fieldset>
                                     	</form>
                                 	</div>
                                <div id="signup">
                                	<div class="title">免费注册帐号!</div>
                                    	<form id="register_form" action="/user_action.jhtml?_operation_=_register_" method="post" class="form-stacked">
                                        	<fieldset>
                                        	
                                        		#if(${registerErrorMsg})
	                                                <div class="clearfix">
	                                                	<div class="alert alert-error">
	                                                		$!{registerErrorMsg}
	                                                	</div>
	                                                </div>
                                                #end
                                                
                                            	<div class="clearfix">
                                                	<label for="isignup_username">用户名：</label>
	                                                <div class="input">
	                                                	<input id="isignup_username" tabindex="5" name="name" label="Username" value="$!{user.name}" type="text">
	                                                    <span class="help-block">May contain letters, digits, dashes and underscores, and should be between 2 and 20 characters long.</span>
	                                                </div>
	                                            </div>
                                                <div class="clearfix">
                                                	<label for="isignup_email">邮箱：</label>
                                                    <div class="input">
                                                    	<input id="isignup_email" tabindex="6" name="email" label="Email address" value="$!{user.email}" type="text">
                                                        <span class="help-block"><strong>Type carefully.</strong> You will be sent a confirmation email.</span>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                	<label for="isignup_password">密码：</label>
                                                    <div class="input">
                                                    	<input id="isignup_password" tabindex="7" name="password" label="Password" value="" type="password">
                                                        <span class="help-block">The longer the better. Include numbers for protein.</span>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                	<label for="isignup_confirm_password">确认密码：</label>
                                                    <div class="input">
                                                    	<input id="isignup_confirm_password" tabindex="7" name="confirm_password" label="Repassword" value="" type="password">
                                                        <span class="help-block">The longer the better. Include numbers for protein.</span>
                                                    </div>
                                                </div>
                                                <!--
                                                <div class="clearfix">
                                                	<p class="clickedit">By clicking on the "Create your account" button below, you certify that you have read and agree to our <a href="/terms" title="Terms of use" target="_blank">terms of use</a> and <a href="/privacy" title="Privacy policy" target="_blank">privacy policy</a>.</p>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="input">
                                                    	<ul class="inputs-list">
                                                        	<li><label><input id="isignup_subscribe" tabindex="8" type="checkbox" name="subscribe" label="Subscribe" value="1" checked="checked"><span>Sign me up for the newsletter (provided by MailChimp)</span></label></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                -->
                                                <div class="actions">
                                                	<input tabindex="9" class="btn success large" type="submit" value="注册">
                                                </div>
                                         	</fieldset>
                                         	<input name="from" value="0" type="hidden">
                                    	</form>
                                  	</div>
                                 	<script>$("#iusername").focus();</script>
                              	</div>
                           	</div>
                       	</div>
                  	</div>
                </div>
			</div>
			
		</div><!--/part-->
		
		#parse("footer.vm")
    
    	<script>
			var d_url=document.location.href;	
			//alert(d_url);
			var patt = new RegExp('utm_campaign');
			if(patt.test(d_url))
			{
				var pattern = /utm_campaign=[^&]*/;
				strs = d_url.match(pattern);
				var patt2 = new RegExp('javascript');
				var patt3 = new RegExp('utm_campaign');
				var patt4 = new RegExp('/overview');
				var patt5 = /#shangjia_\d*/;
				$('a').each(function(){
					if(!patt2.test(this.href) && !patt3.test(this.href)){
						var lastw = this.href.substr(-1);
						if(lastw=='/')
						{
							this.href = this.href+'?'+strs;
						}else if(lastw==''){
							this.href ='';
						}else{
							this.href = this.href+'&'+strs;
						}
						if(patt5.test(this.href))
						{
							str2 = this.href.match(patt5);
							this.href = this.href.replace(/#shangjia_\d*/g,'');
							this.href = this.href+str2;
						}
					}
				});
			}
		</script>
		
		<script type='text/javascript'>
			document.write("<script src=\'http://img01.yiqisooimg.com/yiqisoo/dandelion/js/yiqisoo_4d3u_tag.js\'");
			document.write(" type='text\/javascript'><\/script>");
			document.write("<script type='text\/javascript'>");
			document.write("var _gaq = _gaq || [];");
			document.write("_gaq.push(['_setAccount', 'UA-21465425-1']);");
			document.write("_gaq.push(['_setDomainName', '.yiqisoo.com']);");
			document.write("_gaq.push(['_trackPageview']);");
			document.write("(function() {");
			document.write("var ga = document.createElement('script'); ga.type = 'text\/javascript'; ga.async = true;");
			document.write("ga.src = ('https:' == document.location.protocol ? 'https:\/\/ssl' : 'http:\/\/www') + '.google-analytics.com\/ga.js';");
			document.write(" var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);");
			document.write(" })();");
			document.write("<\/script>");

			document.write("<p style='display:none'>");
			document.write("<script type='text\/javascript'>");
			document.write("var _bdhmProtocol = (('https:' == document.location.protocol) \? ' https:\/\/' : ' http:\/\/');");
			
			document.write("document.write(unescape(\"%3Cscript src='\" + _bdhmProtocol + \"hm.baidu.com\/h.js%3Ff6bbd2a1fae6b4a7b6bd36ba720b99bb' type='text\/javascript'%3E%3C\/script%3E\"));");
			document.write("<\/script>");
			document.write("<\/p>");
		</script>

		<script>
			var d_url=document.location.href;	
			var patt = new RegExp('utm_campaign');
			if(patt.test(d_url))
			{
				var pattern = /utm_campaign=([^&]*)/;
				strs = d_url.match(pattern);
				var board = document.getElementById("sub_3c");
				var e = document.createElement("input");
				e.type = "hidden";
				e.name = "utm_campaign";
				e.value = strs[1];
				var object = board.appendChild(e);
			}
		</script>
		
		#parse("links.vm")
		
		<script>
			document.write("<img src=\'http://img01.yiqisooimg.com/yiqisoo/dandelion/common2012/images/xianshiqi.gif?width="+window.screen.width+"&height="+window.screen.height+"\'\/>");
		</script>
		<!-- START OF SmartSource Data Collector TAG -->
		<SCRIPT SRC="http://traffic.house.sina.com.cn/smartview_yiqisoo_tag.js" TYPE="text/javascript"></SCRIPT>
		<!-- END OF SmartSource Data Collector TAG -->
	</body>
	#parse("js.vm")
	
	<script type="text/javascript">
	$().ready(function() {
			$("#login_form").validate({
				rules: {
					name: {
						required: true
					},
					password: {
						required: true
					}
				},
				messages: {
					name: {
						required: "请填写登录用户名"
					},
					password: {
						required: "请填写登录密码"
					}
				}
			});
		
		$("#register_form").validate({
				rules: {
					name: {
						required: true,
						minlength: 2,
						maxlength: 32
					},
					email: {
						required: true,
						email: true
					},
					password: {
						required: true,
						minlength: 6,
						maxlength: 16
					},
					confirm_password: {
						required: true,
						equalTo: "#isignup_password"
					}
				},
				messages: {
					name: {
						required: "请填写注册用户名",
						minlength: "注册用户名不能少于2个英文字符且不能多于32个英文字符",
						maxlength: "注册用户名不能少于2个英文字符且不能多于32个英文字符"
					},
					password: {
						required: "请填写注册密码",
						minlength: "注册密码不能少于2个英文字符且不能多于32个英文字符",
						maxlength: "注册密码名不能少于2个英文字符且不能多于32个英文字符"
					},
					confirm_password: {
						required: "请填写注册确认密码",
						equalTo: "您两次填写的密码不一致"
					},
					email: "请填写正确格式的邮箱"
				}
			});
		});
	</script>
</html>
